@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,700");
body {
  background: #ffffff;
  color: #333333;
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  height: 100%;
  letter-spacing: 0.5px;
  line-height: 32px;
  margin: auto !important;
  overflow-x: hidden !important;
  width: 100%; }

p {
  color: #808080; }

header {
  -webkit-background-size: cover;
  background-size: cover; }

.wrapper {
  margin: 0 auto; }

.element-block {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 400; }

ul {
  padding: 0; }

li {
  list-style: none; }

/***** FLEXBOX *****/
.flexbox {
  display: flex; }

.flexbox__inline {
  display: inline-flex; }

.flexbox--box-sizing__border-box {
  box-sizing: border-box; }

.flexbox--align__center {
  align-items: center; }

.flexbox--align__end {
  align-items: flex-end; }

.flexbox--flex-grow {
  flex-grow: 2; }

.flexbox--justify__flex-start {
  justify-content: flex-start; }

.flexbox--justify__space-between {
  justify-content: space-between; }

.navbar {
  background: #ffffff;
  border-bottom: 1px solid #81d8d0;
  max-height: 340px; }
  .navbar--logo {
    font-size: 2em;
    font-weight: 700;
    padding: 0.5em 0; }
  .navbar--links li {
    list-style: none; }
  .navbar--links a {
    color: #333;
    font-size: 1em;
    padding: 1.8em 1em;
    text-decoration: none;
    text-transform: uppercase; }

.slide {
  -webkit-background-size: cover;
  background-image: url("../img/bunny.jpg");
  background-position-y: center;
  background-size: cover;
  height: 100vh;
  margin: 0; }
  .slide--bg {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden; }
  .slide--text {
    color: #FFFFFF;
    font-size: 3em;
    line-height: 1.2;
    padding-top: 15%;
    padding-bottom: 5%;
    padding-left: 5%;
    text-align: left; }
    .slide--text__title {
      margin: .3em 0; }

.content-box {
  flex-basis: 60%; }

.title-box {
  flex-basis: 50%;
  padding-right: 2em; }
  .title-box--description__subtitle {
    font-size: 2em;
    margin: 0; }
  .title-box__about-box {
    flex-basis: 80%; }

section {
  margin: 4em 0;
  width: 100vw; }

.about--item {
  margin-bottom: 2.5em;
  padding-left: 4em; }
  .about--item__title {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase; }

.timeline {
  margin-top: 1em;
  position: relative;
  overflow: hidden;
  width: 100%; }
  .timeline::before {
    background: #395160;
    bottom: 2em;
    content: "\A";
    display: block;
    opacity: 1;
    height: 100%;
    left: 0.35em;
    position: absolute;
    width: 1px; }
  .timeline--row {
    margin-bottom: 2em; }
    .timeline--row::after {
      content: "";
      display: table; }
    .timeline--row__date {
      color: #5a9791;
      padding-left: 2.5em;
      position: relative;
      width: 50%;
      text-transform: uppercase; }
      .timeline--row__date::before {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        background: #81d8d0;
        border: 2px solid #81d8d0;
        border-radius: 100%;
        content: "\A";
        display: block;
        height: 0.5em;
        left: 0px;
        position: absolute;
        top: 6px;
        width: 0.5em; }
    .timeline--row small {
      color: #5a9791; }

.skill-progress-bar {
  margin: 1em 0; }
  .skill-progress-bar--item__title {
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.1em;
    overflow: hidden;
    text-transform: uppercase; }
  .skill-progress-bar--item__number {
    font-weight: 700;
    padding: 0 0.5em; }
  .skill-progress-bar--item__progress {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background: #81d8d0;
    border-radius: 0px;
    box-shadow: none;
    height: 2px;
    margin-bottom: 1em;
    width: 80%; }
  .skill-progress-bar--item__bar {
    line-height: 2em;
    text-indent: 2em; }

.dots {
  color: #81d8d0; }

.contact a {
  color: #333333;
  text-decoration: none; }
  .contact a :hover {
    -webkit-transition: color 100ms easy;
    -moz-transition: color 100ms ease;
    -ms-transition: color 100ms ease;
    -o-transition: color 100ms ease;
    color: #81d8d0;
    transition: color 100ms ease; }
.contact .fa {
  margin-right: 1em; }

.form-control {
  background-color: #fff;
  border: 1px solid #333333;
  color: #AAAAAA;
  border-radius: 4px;
  display: block;
  font-size: .8em;
  padding: .5em 1em;
  width: 100%; }
  .form-control--input-box {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px; }
  .form-control--textarea-box {
    height: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1em; }
  .form-control--omega {
    margin-right: 1.5em; }

.btn {
  background: #fffff;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;
  font-size: .8em;
  padding: 1em 3em;
  text-transform: uppercase; }
  .btn:hover {
    -webkit-transition: color 100ms easy;
    -moz-transition: color 100ms ease;
    -ms-transition: color 100ms ease;
    -o-transition: color 100ms ease;
    background: #81d8d0;
    border: 1px solid #81d8d0;
    color: #fff; }

footer {
  background: #81d8d0;
  color: #ffffff;
  padding: 2em;
  overflow-x: hidden; }

.footer__right {
  font-size: 0.75em; }

/*
BOOTSTRAP
*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.row {
  margin-left: -15px;
  margin-right: -15px; }

/*# sourceMappingURL=index.processed.css.map */
